In [7]:
import pandas as pd
import glob

In [8]:
path = r'/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/names' # use your path
all = glob.glob(path + r"/yob*.txt")

In [9]:
names = pd.DataFrame()
for i,file in enumerate(all):
    if i==0:
        names = pd.concat([names, pd.read_csv(file, sep=',', header=None, names=['name', 'gender', 'nb'])])
    else:
        names = pd.concat([names, pd.read_csv(file, sep=',', header=None, names=['name', 'gender', 'nb'])], ignore_index=True)

In [10]:
names.drop(columns=['nb'], inplace=True)

In [11]:
path_ar = r'/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en' # use your path
all_ar = glob.glob(path_ar + r"/*.csv")

In [12]:
all_ar

['/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/males_en.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/males_ar.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/females_ar.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/females_en.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/dz_names.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/ma_names.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/ftn_names.csv',
 '/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/ar_en/fa_names.csv']

In [13]:
names_ar = pd.DataFrame()
for file in all_ar:
    names_ar = pd.concat([names_ar, pd.read_csv(file)], ignore_index=True, axis=0)

In [14]:
names_ar

           name gender
0         aaban      M
1         aabid      M
2         aadil      M
3         aahil      M
4         aalam      M
...         ...    ...
10555     zhour      F
10556      Zina      F
10557     Zineb      F
10558     Zohra      F
10559  Zoulikha      F

[10560 rows x 2 columns]

In [15]:
df1 = pd.read_csv('/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/female.csv')
df2 = pd.read_csv('/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/male.csv')
df3 = pd.read_csv('/home/yassir/Documents/work/gender-prediction/gender-detector-model/Datasets/names.csv')

In [16]:
all_names = pd.concat([names, names_ar, df1, df2, df3], ignore_index=True)

In [17]:
all_names.drop_duplicates().gender.value_counts(all_names.shape[0])

F    0.548514
M    0.451486
Name: gender, dtype: float64

In [18]:
all_names = all_names.drop_duplicates().reset_index(drop=True)
all_names

            name gender
0           Mary      F
1          Helen      F
2       Margaret      F
3           Ruth      F
4        Dorothy      F
...          ...    ...
136810   Zunnoon      M
136811    Zuraib      M
136812    Zurfah      M
136813    Zurmah      M
136814      Zuti      M

[136815 rows x 2 columns]

In [19]:
all_names.to_csv('full_names.csv', index=False)